<%= render 'shared/navbar' %>
<%= render partial: 'shared/modal', locals: {interview: @interview} %>

<div class="form-wrapper">
  <%= render partial: 'shared/form', locals: {interview: @interview} %>
</div>