<%= render 'shared/navbar' %>

<div class="form-wrapper">
  <%= render partial: 'shared/notice', locals: {color: :blue} %>
  <%= render partial: 'shared/edit', locals: {interview: @interview} %>
</div>