<html>
<body>
  <%= render 'navbar' %>

  <div class="posts-wrapper row">
    <% @posts.each do |post| %>
      <%= render partial: 'image', locals: { post: post } %>
    <% end %>
  </div>

</body>
</html>