<html>
<body>

  <strong>Image</strong>
  <div class="img" style="width:600px; height:auto;">
    <%= image_tag @post.image, :style => "width:100%" %>
  </div>

  <strong>Caption</strong>
  <%= @post.caption %>

</body>
</html>